name: Streaming App CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build Backend with Maven
        # Matches the lowercase 'backend' in your GitHub screenshot
        run: |
          cd backend
          mvn clean package -DskipTests 

  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          # Matches the 'frontEnd' in your GitHub screenshot
          cache-dependency-path: frontEnd/package-lock.json

      - name: Install Dependencies
        run: |
          cd frontEnd
          npm install

      - name: Build Angular 21
        run: |
          cd frontEnd
          npm run build -- --configuration=production